<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About Me</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
  </head>
  <body class="body_item">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="card">
    <div class="box">
        <div class="img">
            <img src="https://lh3.googleusercontent.com/-7vAalaTKGUY/WzXHICPUPtI/AAAAAAAACys/2s9ac6swwo4EKI4eCJTvfs2mqh9SMk9sACEwYBhgL/w140-h140-p/IMG_20180326_152734.jpg">
        </div>
        <h2>Amit Kishor Raturi<br><span>Android Developer</span></h2>
        <p> Amit is a technology lover , currently pursuing his undergrad from NIT Uttarakhand in Computer Science and Engineering.</p>
        <span>
            <ul>
                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            </ul>
        </span>
    </div>
</div>

  </body>
</html>
